<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
        <th scope="col">Nombre común</th>
          <th scope="col">Tipo</th>
          <th scope="col">Clima</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let planta of plantas; let i = index">
        <th scope="row">{{i}}</th>
        <td>{{planta.nombre_comun}}</td>
        <td>{{planta.tipo}}</td>
        <td>{{planta.clima}}</td>
      </tr>
  </tbody>
</table>
<p>Total plantas de interior: {{numeroPlantasInteriorExterior[0]}}</p>
<p>Total plantas de exterior: {{numeroPlantasInteriorExterior[1]}}</p>
